/*
Primary Color:
#0C5DA5	#26537C	#043A6B	#408DD2	#679FD2
Complementary Color:
#FF9500	#BF8430	#A66100	#FFB040	#FFC573
*/
body {
	color: #5E878F;
	background-color: #D5E4E6;
	margin: 0;
	padding: 12px 100px 100px 100px;
	font-family: Geneva, Tahoma, sans-serif;
}

a:link {
	color: #AF1317;
	background-color: inherit;
}

a:visited {
	color: #AF1317;
	background-color: inherit;
}

a:hover {
	color: #AF1317;
	background-color: inherit;
}

a:active {
	color: #AF1317;
	background-color: inherit;
}

th {
	padding-right: 25px;
}

th.alignRight{
	text-align: right;
}

td {
	text-align: left;
	vertical-align: top;
	padding-right: 25px;
}

div.header {
	color: #043A6B;
	background-color: #73979D;
	padding: 2px 25px 2px 25px;
	margin: 0;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
}

div.header h1 {
	color: white;
	background-color: inherit;
}

div.main {
	color: #5E878F;
	background-color: #EBECED; 
	padding: 2px 25px 25px 25px;
	margin: 0;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
}

.frame-dashboard{
	padding-left:25%; 
	padding-right:25%;
}

.frame-job{
	padding-left:15%; 
	padding-right:15%;
}

.link {
	font-weight:bold;
	color:#AF1317;
}

.left{
	float:left;
}

.right{
	float:right;
}

.table-border{
	border-style:solid;
	border-width:3px;
	padding:3px;
}

.table-border-thin{
	border-style:solid;
	border-width:1px;
	padding:3px;
	border-collapse:collapse;
}

.clear{
	clear:both;	
}

.reduce-bottom{
	margin-bottom:-5px;	
}

.small{
	font-size:90%;
}

.smaller{
	font-size:75%;
}

.indent{
	text-indent: 20px;
}

.double-indent{
	text-indent: 40px;
}

.hide{
	display:none;
}

.pointer{
	text-decoration:underline;
	cursor: pointer;
}




