<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<tx:annotation-driven transaction-manager="txManager" />

	<context:annotation-config />
	<context:component-scan base-package="eu.xenit.move2alf" />

	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:move2alf.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>${db.url}</value>
		</property>
		<property name="user">
			<value>${db.user}</value>
		</property>
		<property name="password">
			<value>${db.pass}</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>100</value>
		</property>
		<property name="minPoolSize">
			<value>2</value>
		</property>
		<property name="maxPoolSize">
			<value>10</value>
		</property>
		<property name="acquireIncrement">
			<value>2</value>
		</property>
		<property name="maxStatements">
			<value>0</value>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>eu/xenit/move2alf/core/dto/ConfiguredAction.hbm.xml</value>
				<value>eu/xenit/move2alf/core/dto/ConfiguredReport.hbm.xml</value>
				<value>eu/xenit/move2alf/core/dto/ConfiguredSourceSink.hbm.xml
				</value>
				<value>eu/xenit/move2alf/core/dto/Cycle.hbm.xml</value>
				<value>eu/xenit/move2alf/core/dto/Job.hbm.xml</value>
				<value>eu/xenit/move2alf/core/dto/ProcessedDocument.hbm.xml</value>
				<value>eu/xenit/move2alf/core/dto/RunningAction.hbm.xml</value>
				<value>eu/xenit/move2alf/core/dto/Schedule.hbm.xml</value>
				<value>eu/xenit/move2alf/core/dto/ThreadPool.hbm.xml</value>
				<value>eu/xenit/move2alf/core/dto/UserPswd.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.query.substitutions"> true 1, false 0 </prop>
			</props>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.smtp}" />
	</bean>

	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter"
		lazy-init="false">
		<property name="beans">
			<map>
				<entry key="bean:name=Move2Alf" value-ref="move2alfJmxBean" />
			</map>
		</property>
	</bean>
	
	<bean id="move2alfJmxBean" class="eu.xenit.move2alf.jmx.Move2AlfJmxBean">
		<property name="jobService" ref="jobService"/>	
	</bean>
</beans>
